  .App {
    text-align: center;
  }

  #email{
    --md-outlined-text-field-focus-outline-color: #006aab;
    --md-outlined-text-field-focus-label-text-color: #006aab;
  }

  #password{
    --md-outlined-text-field-focus-outline-color: #006aab;
    --md-outlined-text-field-focus-label-text-color: #006aab;

  }

  #tabs{
    --md-sys-color-primary: #9acbff;
    --md-sys-color-surface: #f9f9ff;
    --md-secondary-tab-active-indicator-height: 3px;
    --md-secondary-tab-label-text-font: system-ui;
    --md-secondary-tab-label-text-color: #ffffff;
    --md-secondary-tab-container-shape: 10px;
    --md-secondary-tab-hover-label-text-color: #ffffff;
    --md-secondary-tab-active-hover-label-text-color: #ffffff;
    --md-secondary-tab-pressed-label-text-color: #9acbff;
    --md-secondary-tab-active-hover-state-layer-color: #9acbff;
    --md-secondary-tab-hover-state-layer-color: #9acbff;
    --md-secondary-tab-active-hover-label-text-color: #9acbff;
    --md-secondary-tab-active-label-text-color: #9acbff;
    --md-secondary-tab-active-pressed-label-text-color: #9acbff;
  }

  #navbar {
    background-color: #f9f9ff;
  }
  
  #text{
    margin: 0px;
    color: #ffffff;
  }

  #primaryTonalButton{
    --md-sys-color-secondary-container: #565e71;
    --md-sys-color-on-secondary-container: #ffffff;

    --md-filled-tonal-button-label-text-font: system-ui;
    --md-filled-tonal-button-label-text-size: 15px;
  }

  #secondaryTonalButton{
    --md-sys-color-secondary-container: #3b4857;
    --md-sys-color-on-secondary-container: #d6e4f7;

    --md-filled-tonal-button-label-text-font: system-ui;
    --md-filled-tonal-button-label-text-size: 15px;
  }

  #primaryButton{
    --md-sys-color-primary: #565e71;
    --md-sys-color-on-primary: #ffffff;

    --md-filled-button-label-text-font: system-ui;
    --md-filled-button-label-text-color: #ffffff;
    --md-filled-button-label-text-size: 15px;
    --md-filled-button-disabled-container-color: #565e71;
    --md-filled-button-disabled-label-text-color: #ffffff;
  }

  #questionButton{
    --md-sys-color-primary: #565e71;
    --md-sys-color-on-primary: #ffffff;
    
    --md-filled-button-label-text-font: system-ui;
    --md-filled-button-label-text-size: 15px;
    --md-filled-button-label-text-line-height: auto;
    --md-filled-button-disabled-container-color: #9ca8b8;
    --md-filled-button-disabled-container-opacity: 1;
    --md-filled-button-container-height: 200px;
    
    white-space: normal;
    word-wrap: break-word;
  }
  #answerButton{
    --md-sys-color-primary: #565e71;
    --md-sys-color-on-primary: #ffffff;

    --md-filled-button-label-text-font: system-ui;
    --md-filled-button-label-text-size: 15px;
    --md-filled-button-label-text-line-height: auto;
    --md-filled-button-disabled-container-color: #bac8da;
    --md-filled-button-disabled-container-opacity: 1;
    --md-filled-button-container-height: 150px;
    
    white-space: normal;
    word-wrap: break-word;
  }

  #textField{
    --md-sys-color-primary: #006aab;
    --md-sys-typescale-body-large-font: system-ui;
    
    --md-filled-text-field-container-color: #bac8da;
    --md-filled-text-field-focus-active-label-text-color: #006aab;
    --md-filled-text-field-focus-input-text-color: #006aab;
    --md-filled-text-field-input-text-color: #006aab;
    --md-filled-text-field-caret-color: #006aab;
    --md-filled-text-field-input-text-color: #243240;
    --md-filled-text-field-focus-input-text-color: #006aab;
    --md-filled-text-field-label-text-color: #243240;
    --md-filled-text-field-error-focus-active-input-text-color: #93000a;
    --md-filled-text-field-error-focus-active-label-text-color: #93000a;
    --md-filled-text-field-error-focus-active-indicator-color: #93000a;
    --md-filled-text-field-error-focus-input-text-color: #93000a;
    --md-filled-text-field-error-focus-label-text-color: #93000a;
    --md-filled-text-field-error-label-text-color: #93000a;
    --md-filled-text-field-error-hover-label-text-color: #93000a;
    --md-filled-text-field-error-input-text-color: #93000a;
    --md-filled-text-field-error-hover-input-text-color: #93000a;
  }

  md-filled-select{
    --md-sys-color-primary: #006aab;
    --md-sys-typescale-body-large-font: system-ui;
    --md-filled-select-text-field-container-color: #bac8da;
    --md-filled-select-text-field-focus-active-label-text-color: #006aab;
    --md-filled-select-text-field-focus-input-text-color: #006aab;
    --md-filled-select-text-field-input-text-color: #006aab;
    --md-filled-select-text-field-caret-color: #006aab;
    --md-filled-select-text-field-input-text-color: #243240;
    --md-filled-select-text-field-focus-input-text-color: #006aab;
    --md-filled-select-text-field-label-text-color: #243240;
  }
 
  md-filled-select::part(menu){
    --md-sys-color-on-surface: #243240;
    --md-sys-typescale-body-large-font: system-ui;  
    --md-menu-item-selected-container-color: #9acbff;
    --md-menu-item-selected-label-text-color: #243240;
    --md-menu-container-color: #bac8da;
  }
  
  #questionText{
    font-size: 35px;
  }

  #modalStyle{
    background-color: #f9f9ff;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

  #modal-header{
    background-color: #f9f9ff;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

  #modal-body{
    background-color: #f9f9ff;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

  #modal-footer{
    background-color: #f9f9ff;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

  #modal-content{
    background-color: #f9f9ff;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }