  .App {
    text-align: center;
  }

  #email{
    --md-outlined-text-field-focus-outline-color: #006aab;
    --md-outlined-text-field-focus-label-text-color: #006aab;
  }

  #password{
    --md-outlined-text-field-focus-outline-color: #006aab;
    --md-outlined-text-field-focus-label-text-color: #006aab;

  }

  #tabs{
    --md-primary-tab-container-color: #191c1e;
    --md-primary-tab-outline-color:  #006aab;
    --md-primary-tab-label-text-color:  white;
    --md-primary-tab-active-label-text-color: white;
    --md-primary-tab-active-indicator-color: #006aab;
    --md-primary-tab-container-shape: 10px;
  }

  #navbar {
    background-color: #191c1e;
  }

  #container{
    background-color: #191c1e;
    height: 100%;
    position: absolute;
  }
